body {
      background-image: url("../images/bgpic.jpg");
      background-size: 100% auto;
      background-color: #33001A;

      background-position: 50% 0%;
      background-repeat: no-repeat;
}

html,body{
    position: relative;
    height: 100%;
}

#b1, #b2 {
    background: orange none repeat scroll 0 0;
    font-size: 30px;
    height: 180px;
    width: 420px;
}
