body {
      background-size: 100% auto;
      background-color: darkslateblue;
      color: #FFF;

      background-position: 50% 0%;
      background-repeat: no-repeat;
}

html,body{
    position: relative;
    height: 100%;
}